.page-header {
    background-image:url("header.jpg") ;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top;
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF;
    font-size: 36pt;
    text-decoration: none;
    text-shadow: 2px 2px 2px #000000,0 0 5px #A9B3BA;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    color: #000000;
    font-family: 'Pacifico', cursive;
}
.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}